body {
    font-family: Roboto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#body-container {
    flex: 1;
}

#header {
    background-color: #1f2937;
    padding-bottom: 50px;
    color: white;
    
}

#header-navbar {
    font:bold;
    display:flex;
    align-items: center;
    margin: 0 auto 50px auto;
    width: 80%;
}

#header-navbar ul {
    display: flex;
    list-style: none;
}

.navbar-links {
    margin-left: auto;
    gap: 8px;
}

#header-hero {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    width: 80%;
    margin: 0 auto 50px auto;
}

#header-hero img {
    margin-left: auto;
}

#header-hero h1 {
    margin: 0;
    font-size: 48px;
    color: #f9f9f9;
}

#hero-left {
    padding-right: 100px;
}

#content {
    text-align: center;
}

#content-info {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.info-item {
    flex-basis: 200px;
    flex-grow: 0;
}


#content-cta {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 400px;
    padding-left: 100px;
    padding-right: 100px;
    
}

#cta-bluebox {
    display: flex;
    background-color: #007FFF;
    color:white;
    align-items: center;
    padding: 50px 150px 50px 150px;
    width: 100%;
    border-radius: 5px;
}

#footer {
    text-align: center;
    background-color: black;
    color: #1f2937;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

#content {
    margin: 20px 0 100px 0;
}

#content-quote {
    padding: 100px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    background-color: lightgrey;
}

#content-quote-author {
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: right;
}
